<%-include('lay-outs/header')%>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="/assets/img/breadcumb/bredcumb-1.png">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Login</h1>
            </div>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Login</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    Login 
    ==============================-->
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form action="/user/signin" class="default-form" method="post">
                        <h3 class="form-title">Login</h3>
                        <p class="form-text">Don't have an account yet? <a href="/user/signup">Sign up for free</a></p>
                        <% if(message){%>
                            <p class="form-text" style="color: red;">
                                <%= message %>
                            </p>
                            <%}%>
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 form-group">
                                        <input type="text" class="form-control" placeholder="Email Address"
                                            name="email">
                                    </div>
                                    <div class="col-12 form-group">
                                        <input type="password" class="form-control" placeholder="Password"
                                            name="password">
                                    </div>
                                    <div class="col-sm-auto form-group">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="remembermylogin">
                                            <label for="remembermylogin">Remember Me</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-auto form-group">
                                        <p class="form-link"><a href="#">Forget password?</a></p>
                                    </div>
                                    <div class="col-12 form-group">
                                        <button type="submit" class="vs-btn style4">Log In</button>
                                    </div>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
			Footer Area
	==============================-->
    <footer class="footer-wrapper footer-layout3" data-bg-src="/assets/img/bg/footer-bg-3-1.jpg">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget  footer-widget">
                            <h3 class="widget_title">Office</h3>
                            <div class="vs-widget-about">
                                <p class="footer-info">29 Holles Place, Dublin 2 D02 YY46</p>
                                <p class="footer-info">68 Jay Street, Suite 902 New Side Brooklyn, NY 11201</p>
                                <p class="footer-info">United States</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Useful Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Customer Rating</a></li>
                                    <li><a href="#">Top Product</a></li>
                                    <li><a href="#">Weekly Best Items</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Latest Posts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Why Buy From Us?</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Store Locator</a></li>
                                    <li><a href="#">About Blue John</a></li>
                                    <li><a href="#">About Whitby Jet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Services</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Make an Appointment</a></li>
                                    <li><a href="#">Jewellery Design Service</a></li>
                                    <li><a href="#">Jewellery Repairs</a></li>
                                    <li><a href="#">Price Match Promise</a></li>
                                    <li><a href="#">Trade Your Watch</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright-wrap text-center">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-auto">
                        <p class="mb-0"><i class="fal fa-copyright"></i> 2022 <a class="text-reset"
                                href="index.html">Vendora</a>. All rights reserved by <a class="text-reset"
                                href="https://themeforest.net/user/vecuro">Vecuro</a>.</p>
                    </div>
                    <div class="col-md-auto d-none d-md-block">
                        <img src="/assets/img/footer/card-2.png" alt="Footer Image">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
			Code End  Here 
	******************************** -->


    <!-- Scroll To Top -->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>



    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Layerslider -->
    <script src="/assets/js/layerslider.utils.js"></script>
    <script src="/assets/js/layerslider.transitions.js"></script>
    <script src="/assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope Filter -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- Custom Carousel -->
    <script src="/assets/js/vscustom-carousel.min.js"></script>
    <!-- Form Js -->
    <script src="/assets/js/ajax-mail.js"></script>
    <!-- Main Js File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>